<ion-view cache-view="false">
    <ion-nav-title>{{pageTitle}}</ion-nav-title>
    <ion-content padding="true" class="has-header">
        <canvas id="myCanvas" style="border:1px solid #444444; background:blue; width:100%; height:70vh;">
        </canvas>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Timer:</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <a ui-sref="results" class="button button-stable button-icon  icon-left ion-android-arrow-back">this button is temporary Results</a>
        <form class="list"></form>
    </ion-content>
</ion-view>