<ion-view title="My vote">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <canvas id="myCanvas" width="auto" height="350" style="border:1px solid #444444; background:blue;">
        </canvas>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Timer:</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <a ui-sref="page2" class="button button-stable button-icon  icon-left ion-android-arrow-back">Back</a>
        <form class="list"></form>
    </ion-content>
</ion-view>