<ion-view title="">
    <ion-content  padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/65bd6a11ReNbO7hJUuIC_intreLogo.png" width="100%" height="auto">
        </div>
        <form class="list"></form>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Game Title</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="voteSelection" class="button button-stable button-block ">Start</a>
    </ion-content>
</ion-view>