<!-- ng-style="{'overflow-scroll {overflow-x: hidden;overflow-y: hidden;}'}" -->
<ion-view title="">
    <!-- style="overflow-y: hidden;" -->
    <ion-content  padding="true" ng-controller="StartPageCtrl as spc" class="has-header">
        <div style="text-align:center;">
            <img src="img/65bd6a11ReNbO7hJUuIC_intreLogo.png" width="100%" height="auto">
        </div>
        <form class="list"></form>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Game Title: </span>
                <input id="gameTitleLabel" type="text" placeholder="" ng-model="gameTitle">
            </label>
        </form>
        <a ui-sref="voteSelection" ng-click="spc.setGameTitle(gameTitle);spc.setGameTimer(5)" class="button button-stable button-block">Start</a>
    </ion-content>
</ion-view>