<ion-view title="">
    <ion-content padding="true" class="has-header">
        <div class="button-bar">
            <a ui-sref="myVote" class="button button-stable button-block button-large">1</a>
            <a ui-sref="myVote" class="button button-stable button-block button-large">2</a>
            <a ui-sref="myVote" class="button button-stable button-block button-large">3</a>
        </div>
        <div class="button-bar">
            <a ui-sref="myVote" class="button button-stable button-block button-large">5</a>
            <a ui-sref="myVote" class="button button-stable button-block button-large">8</a>
            <a ui-sref="myVote" class="button button-stable button-block button-large">13</a>
        </div>
        <div class="button-bar">
            <a ui-sref="myVote" class="button button-stable button-block button-large">21</a>
            <a ui-sref="myVote" class="button button-stable button-block button-large">?</a>
            <a ui-sref="myVote" class="button button-stable button-block button-large">BIG</a>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Timer:</span><textarea placeholder=""> </textarea>
            </label>
        </form>
    </ion-content>
</ion-view>